---
title: About Me
---
%head
  %link{:href=>"/public/css/index.css", :rel=>"stylesheet", :type=>"text/css"}

%h1 Kaleb Davis
%h2 About Me
%h3 Github Page:
%a{:href=>"https://github.com/kalebdavis"} 
  %img{:src=>"https://pbs.twimg.com/profile_images/269279233/llama270977_smiling_llama_400x400.jpg", :href=>"https://github.com/kalebdavis"}
