<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-fill-circle" src="img/about/rit.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2012</h4>
                                    <h4 class="subheading">Begin attending Rochester Institute of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2012, I entered
                                    into my freshman year at RIT. I began as a
                                    computer science major, but by the end of
                                    the year had switched to our software
                                    engineering program.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-fill-circle" src="img/about/gdais.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2013</h4>
                                    <h4 class="subheading">General Dynamics Advanced Information Systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After my sophomore year at RIT, I worked as an intern at GDAIS, on an internal research and development team working with quantum computers. Here I was able to improve my Python skills, as well as understand and learn quite a bit about quantum mechanics and also on a lower level, how regular computers work.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-fill-circle" src="img/about/kdr.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014</h4>
                                    <h4 class="subheading">Kappa Delta Rho</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This year I came to the realization that I wanted an opportunity to improve my leadership abilities, as well as do more service around the Rochester area. I seeked out and joined the fraternity of Kappa Delta Rho, and was almost immediately put in charge of fundraising for the chapter. In my time as fundraising chair, I organized multiple fundraisers, including a Dancing With the Stars-esque event we called Dancing with the Greeks.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-fill-circle" src="img/about/enernoc.gif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2015</h4>
                                    <h4 class="subheading">EnerNOC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined the Big Data and Analytics team at EnerNOC for a second co-op term. Here I worked using Scala, Twitter Finagle, Javascript, Apache Storm, and various other technologies to create an interface for accessing information that was coming into our systems.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-fill-circle" src="img/about/cmm.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">CoverMyMeds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is an up and coming tech startup that I had the privilege of interning for seven months. I worked mostly in Ruby on Rails and Python/CherryPy frameworks, to integrate our systems with different pharmacies. This is all in an effort to make the prior authorization process of prescription fulfillment easier and faster.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
